*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Raleway', sans-serif;
}
.logo{
    background: #000000;
    width: 100%;
    display: flex;
    justify-content: center;
}
.graphiclogo{
    padding: 5%;
    max-width: 100%;
    box-sizing: border-box;
}
nav{
    margin: auto;
    width: 800px;
    height: 50px;
}
.topnav{
    background-color: white;
    font-size: 14px;
    margin: 40px;
}
.topnav a{
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
}
.topnav a:hover{
    border-bottom: 2px solid #000000;
}
.topnav .icon{
    display: none;
}
.mw-100{
    max-width: 100%;
}
.advantages__container{
    display: flex;
    justify-content: center;
}
.advantages{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.advantages__items{
    width: 30%;
    word-wrap: break-word;
}

@media screen and (max-width: 768px){
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: black;
    }
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
    }
    .topnav.responsive a.icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
    .advantages__items{
        width: 45%;
    }
}
@media screen and (max-width: 420px){
    .advantages{
        flex-direction: column;
    }
    .advantages__items{
        width: 100%;
    }
}